
/*======================
======Portfolio CSS=====
========================*/
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.container:before,.container:after{display:table;content:" "}.container:after{clear:both}.container:before,.container:after{display:table;content:" "}.container:after{clear:both}

#portfolio {
  padding-top:70px;
  padding-bottom: 100px;
  background:#F6F6F6
}

#portfolio p, 
#portfolio h2 {
	margin-bottom:30px;
}

#portfolio 
.portfolio-filter {
  margin-bottom:40px;
  margin-top:10px;
}

#portfolio 
.portfolio-filter li {
  display: inline-block;
}

#portfolio 
.portfolio-filter li a:hover, 
#portfolio 
.portfolio-filter li a:focus,
#portfolio 
.portfolio-filter li a:active , 
#portfolio 
.portfolio-filter li .active{
	border: 1px solid #fc7700;
	color: #686868;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
}

#portfolio 
.portfolio-filter li a {
	color: #686868;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background: rgba(67, 72, 78, 0);
	opacity: .8;
	border: 1px solid rgba(252, 119, 0, 0);
	border-radius: inherit;
}

.portfolio-items > div{
  padding:0;
}

.portfolio-items img{
  width:100%;
}
